<div (click)="onComponentTounched()" id="content">
  <p>Montant désiré :</p>
  <form [formGroup]="formGroup">
    <div id="form_content">
      <div id="input_wrapper">
        <input
          id="input_amount"
          type="number"
          [formControlName]="'amountControl'"
        />
      </div>
      <button
        type="submit"
        [disabled]="formGroup.invalid || disabled"
        (click)="onValidate()"
      >
        VALIDER
      </button>
    </div>
  </form>
  <div id="prev_next_wrapper">
    <button [disabled]="disabled" (click)="searchAdjacentCombinaison('DOWN')">
      -
    </button>
    <button [disabled]="disabled" (click)="searchAdjacentCombinaison('UP')">
      +
    </button>
  </div>
  <div
    *ngIf="floorProposition && ceilProposition"
    id="number_proposition_wrapper"
  >
    <p id="no_combination_msg">
      Sorry, there is no combination available for this amount, please select a
      proposition among the ones below
    </p>
    <button
      id="floor_btn"
      [disabled]="disabled"
      (click)="onPropositionSelected(floorProposition)"
    >
      {{ floorProposition! }}
    </button>
    <button
      id="ceil_btn"
      [disabled]="disabled"
      (click)="onPropositionSelected(ceilProposition)"
    >
      {{ ceilProposition! }}
    </button>
  </div>

  <div *ngIf="cards.length" id="card_wrapper">
    <p>Votre montant est composé des cartes suivantes :</p>
    <ul>
      <li *ngFor="let card of cards">{{ card }}</li>
    </ul>
  </div>
</div>
